server {

    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;
    #root /var/www;

    error_log /var/log/nginx/default-host.error.log warn;

    location = /nginx_status {
        stub_status on;
        access_log off;
    }

}
