server {

    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;
    root /var/www/certbot;

    error_log /var/log/nginx/default-host.error.log warn;

    location ~ ^/.well-known {
        auth_basic off;
        default_type "text/html";
    }
}
