server {
    listen      80;
    server_name {{ item.name }};

    location ~ /.well-known {
        auth_basic off;
        default_type "text/html";
        root {{ certbot_www_path }};
    }

    location ~ {
        return 200 "";
    }
}
