server {
    listen      80;
    server_name {{ item.name }};

    location ~ /.well-known {
        auth_basic off;
        default_type "text/html";
        root {{ certbot_www_path }};
    }

    return 301 https://{{ item.name }}$request_uri;
}

server {
    listen 443   ssl;
    server_name  www.{{ item.name }};
    ssl on;
    ssl_certificate /etc/letsencrypt/live/{{ item.name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ item.name }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ item.name }}/chain.pem;
    include /etc/nginx/ssl.conf;
    return 301 https://SITE.RU$request_uri;
}

server {

    listen 443 ssl;
    server_name {{ item.name }};
    root /var/www/{{ item.name }}{{ item.public }};
    charset utf-8;
    client_max_body_size 10m;

    access_log /var/log/nginx/{{ item.name }}.access.log;
    error_log /var/log/nginx/{{ item.name }}.error.log warn;

    gzip             on;
    gzip_min_length  1100;
    gzip_types       image/svg+xml text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript;

    include /etc/nginx/ssl.conf;
    ssl_certificate /etc/letsencrypt/live/{{ item.name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ item.name }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ item.name }}/chain.pem;

    location ~ /.well-known {
        auth_basic off;
        default_type "text/html";
        root {{ certbot_www_path }}
    }

    # Финальный слэш
    rewrite ^/(.*)/+$ /$1 last;

    # Переадресация на страницу без index.php
    if ($request_uri ~* "^(.*/)index\.php$") {
        return 301 $1;
    }

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    #
    # develop
    #
    location ~* \.(js|ico|gif|mp4|jpg|png|json|css|txt|map|htm|html|xml|pdf|woff|woff2|ttf|svg|eot|rtf|doc|docx)$ {
        try_files $uri =404;
        add_header Cache-Control "no-store, no-cache, must-revalidate, post-check=0, pre-check=0";
        add_header Pragma "no-cache";
        expires -1;
        add_header Last-Modified $sent_http_Expires;
        access_log off;
        log_not_found off;
    }

    #
    # production
    #
    # location ~* \.(js|ico|gif|mp4|jpg|png|json|css|txt|map|htm|html|xml|pdf|woff|woff2|ttf|svg|eot|rtf|doc|docx)$ {
    #    expires max;
    #    access_log off;
    # }

    location ~ {
        include        fastcgi_params;
        fastcgi_pass   127.0.0.1:{{ item.php_fpm_port }};
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME $document_root/index.php;
        fastcgi_hide_header X-Powered-By;
    }
}
